.caution {
    border: 2px solid #EEA337;
}
.caution-label {
    background-color: #EEA337;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 1px 4px 1px 4px;
}
.caution-text {
    margin: 0px;
    padding: 4px;
}
[id|='conditional'] {
    display: none;
}
.custom-index-detail {
    margin: 0px 10px 0px 0px;
}
#def-popup, .def-popup {
  position: relative;
}
#def-popup .parameter, .def-popup .parameter{
  background-color: #000000;
}
#def-popup .definition, .def-popup .definition{
    background: #ffffe1;
    border: 1px solid #000000;
    font-size: 12px;
    margin: 1px;
    padding: 5px;
    position: absolute;
}
#history-table {
    border: none;
}
#history-table tr th {
    padding: 2px;
}
.history-date {
    border: none;
    width: 70px;
}
.history-topic{
    border: none;
    padding: 0px 15px 0px 10px;
}
.history-description{
    border: none;
    white-space: nowrap;
}
.index .label {
    background-color: #eeeeee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    white-space: nowrap;
    width: 98px;
}
#menu-bar{
    background-color: #666666;
    height: 23px;
    width: 100%;
    margin: 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.menu-button {
    background-color: #666666; 
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 10px;
    border-right: 2px outset #ffffff;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 4px;
}
.menu-button-select {
    background-color: #bdbdbd;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 10px;
    border-right: 2px outset #ffffff;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    top: 4px;
}
.menu-button-disable {
    background-color: #666666;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 4px 10px;
    border-right: 2px outset #ffffff;
    color: #071F15;
    cursor: pointer;
    position: relative;
    top: 4px;
}
#menu-holder-favorite {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #333333;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    top: 25px;
    white-space: nowrap;
    min-width: 160px;
    width: auto !important;
    width: 160px;
    margin: 0px;
}
#menu-holder-favorite *{
    margin: 3px;
}
#menu-holder-hert {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #333333;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    top: 25px;
    white-space: nowrap;
    min-width: 160px;
    width: auto !important;
    width: 160px;
    margin: 0px;
}
#menu-holder-hert *{
    display: block;
    margin: 3px;
}
#menu-holder-history {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: solid;
    border-color: #333333;
    margin: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    top: 25px;
    min-height: 100px;
    height: 100px;
    min-width: 600px;
    width: 600px;
    overflow: scroll;
    overflow-x: hidden;    
}
#menu-holder-history div {
    margin: 10px;
}
#menu-holder-history div span {
    font-weight: bold;
    padding-right: 10px;
}
#menu-holder-map {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #805060;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    top: 25px;
    left: 0px;
    white-space: nowrap;
    min-width: 100px;
    width: auto !important;
    width: 100px;
    margin: 0px;
    max-height: 90%;
    overflow: auto;
    overflow-x: hidden; 
}

#menu-holder-map *{
    margin: 2px;
}
#menu-holder-map *.selected{
    font-weight: bold;
}
#menu-holder-safety {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #204060;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    position: fixed;
    top: 25px;
    white-space: nowrap;
    min-width: 160px;
    width: auto !important;
    width: 160px;
    margin: 0px;
}
#menu-holder-safety *{
    display: block;
    margin: 3px;
}
.menu-holder-section{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#modal-bground {
  background: #000000;
  height: 100%;
  margin: 0px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1
}
.modal-button{
  position: absolute;
  right: 2px;
  top: -30px;
}
.modal-button span{
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  background: #999999;
  margin: 0px 1px;
  padding: 2px 10px;
}
#modal-confirm {
    margin: 30px 10px;
    text-align: center;
}
#modal-content{
  display: none;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 15px;
  position: relative;
  width: 50px;
  height: 50px;
}
#modal-csghost {
  display: inline-block;
  height: 100%;
  top: 0px;
  vertical-align: middle;
  width: 1px;
}
.modal-iframe {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#modal-holder{
  display: none;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 15px;
  position: relative;
  width: 50px;
  height: 50px;
}
#modal-message {
  background-color: #ffffff;
  border: 5px outset #666666;
  display: inline-block;
  min-width: 20%;
  padding: 15px 15px;
  position: relative;
  text-align: justify;
  vertical-align: middle;
  white-space: normal;
  z-index: 2;
}
#modal-message table tr td {
   padding: 2px 10px 2px 10px;
}
#modal-message #modal-close{
  position:absolute;
  right:0px;
  top:0px;
  cursor:pointer;
}
#modal-message a:hover{
  color:orange;
}
#modal-message h4{
  margin-top:0px;
  color:#666666;
  font-size:14px;
  text-align:left;
}
#modal-notification{
  display: none;
  margin: 0px;
  width: 70%;  
}
#modal-wrapper {
  left: 0px;
  margin: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  white-space: nowrap;
}
#modal-wrapper #cell {
  width: 100%;
  height: 50%;
}
#preview {
    background: transparent url(graphic/product.gif) no-repeat top left;
    margin-top: 30px;
}
#preview div{
    margin: 1px 5px 1px 20px ;
    
}
#preview .label {
    background-color: #eeeeee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 5px 5px 0px ;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
    width: 100px;
}
.note {
    border: 2px solid #999999;
}
.note-label {
    background-color: #999999;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 1px 4px 1px 4px;
}
.note-text {
    margin: 0px;
    padding: 4px;
}
.section-padding{
   height: 8px;
}
.quick-top{
    padding-left: 8px;
    cursor: pointer;
}
.selector-part-button {
    font-size: 12px;
    width: 40px;
}
.selector-table-label {
    background-color: #eeeeee;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px 5px;
    white-space: nowrap;
    width: 135px;
}
.selector-table-option-selected {
    background: transparent url(graphic/cue_select.gif) no-repeat center left;
}
.selector-table-option {
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    margin: 2px 2px 2px 5px;
    padding-left: 17px;
    text-decoration: underline;
    white-space: nowrap;
}
.selector-table-option:hover {
    background-color: transparent;
    color: #c8a040;
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
}
#shortcut div{
    margin: 2px;
}
.selector-shortcut-option{
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    margin: 2px 0px 2px 0px;
    text-decoration: underline;
    white-space: nowrap;
}
.selector-shortcut-option:hover{
    background-color: transparent;
    color: #c8a040;
    cursor: pointer;
    margin: 2px 0px 2px 0px;
    text-decoration: underline;
    white-space: nowrap;
}
.sort-header {
    height: 20px;
    cursor: pointer;
}
.sort-header-desc {
    background: #999999 url(graphic/cue_sortdesc.png) no-repeat center right;
    height: 20px;
    cursor: pointer;
    padding-right: 15px;
}
.sort-header-asc {
    background: #999999 url(graphic/cue_sortasc.png) no-repeat center right;
    height: 20px;
    cursor: pointer;
    padding-right: 15px;
}
.table-index table tr td {
    border: none;
    padding: 2px 10px 2px 10px;
}
.warning {
    border: 2px solid #D31145;
}
.warning-label {
    background-color: #D31145;
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 1px 4px 1px 4px;
}
.warning-text {
    margin: 0px;
    padding: 4px;
}
body {
    background-color: transparent;
    color: #000000;
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
    margin:0px;
    padding:10px 0px;
    padding-right: 10px;
    position: absolute;
    top: 23px;
    left: 10px;
    bottom: 0;
    right:0px;
    
}
a:link, a:visited {
/* Hyperlinks */
    background-color: transparent;
    color: #333333;
    text-decoration: underline;
    white-space: nowrap;
}
a:hover {
/* Hyperlinks */
    color: #c8a040;
    background-color: transparent;
}
a[class ='app'] {
    padding-left: 20px;
    background: transparent url(graphic/ico_app.png) no-repeat center left;
}
a[class ='doc'] {
    padding-left: 20px;
    background: transparent url(graphic/ico_doc.gif) no-repeat center left;
}
a[class ='pdf'] {
    padding-left: 20px;
    background: transparent url(graphic/ico_pdf.gif) no-repeat center left;
}
a[class ='ppt'] {
    padding-left: 20px;
    background: transparent url(graphic/ico_pps.gif) no-repeat center left;
}
a[class ='xls'] {
    padding-left: 20px;
    background: transparent url(graphic/ico_xls.gif) no-repeat center left;
}
dd {
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
}
dt {
    float: left;
    font-weight: bold;
    margin-left: 10px;
}
div {
/* Blocks & Paragraphs */
    margin-top: 16px;
    margin-bottom: 16px;
}
html {
    overflow: auto;
}
h1 {
/* Title Header */
    background-color: transparent;
    color: #333333;
    font-size: 16px;
    margin-bottom: 20px;
    white-space: nowrap;
}
h2 {
/* Subtopic Header (former h3) */
    background-color: transparent;
    border-top: 2px dotted #333333;
    color: #333333;
    font-size: 14px;
    padding-top: 12px;
    text-transform:uppercase;
    white-space: nowrap;
}
h3 {
/* Bold & Underlined (former h4) */
    background-color: transparent;
    color: #333333;
    font-size: 12px;
    margin-top:30px;
    text-transform:uppercase;
    white-space: nowrap;
}
h4 {
/* Bold (former h5) */
    background-color: transparent;
    color: #333333;
    font-size: 12px;
    white-space: nowrap;
}
hr {
    color: #333333;
    background-color: transparent;
}
li {
    margin-bottom: 6px;
    margin-top: 6px;
}
ol ol {
    list-style: lower-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
td {
    color: #000000;
    background-color: #eeeeee;
    border: none;
    font-size: 13px;
    padding: 2px 10px 2px 10px;
}
th {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #999999;
    font-size: 13px;
    padding: 2px 5px;
}
th.head {
    padding: 5px 10px;
}
ul ol {
    list-style: lower-alpha;
}
.annotate {
    font-size: 10px;
    vertical-align: super;
}
.annotation div {
    font-style: italic;
    font-size: 12px;
    margin: 2px 0px;
}
.annotation div .def {
    vertical-align: super;
    padding: 0px 5px;
}
.copyright {
    border-top: 2px solid #333333;
    color: #333333;
    font-size: 12px;
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
    white-space: nowrap;
}
.cohe-note {
    background-color: #EEEEEE;
    border-width: 2px;
    border-color: #333333;
    border-style: solid;
    margin-bottom: 13px;
    margin-top: 13px;
    padding: 10px;
}
.critical,
a.critical:link,
a.critical:visited {
    color: red;
    font-weight: bold;
}
#coming-soon {
    bottom: 0px; 
    right: 20px; 
    margin: 0px;
    position: fixed;
}
.home h3 {
    margin-top: 20px;
}
.icon {
    border: none;
}
.icon-index div {
    margin: 3px 0px;
}
.index {
  white-space: nowrap
}
.index-column {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}
.index div {
    margin: 0px 20px 0px 0px;
}
.index div.label {
    background-color: #eeeeee;
    padding: 0px 5px;
    width: 98px;
}
.index-block-3 {
    padding-left: 15px;
}
.index-block-4 {
    padding-left: 30px;
}
.index-block-5 {
    padding-left: 45px;
}
.index-block-6 {
    padding-left: 60px;
}
.index-block-7 {
    padding-left: 75px;
}
.index-block-8 {
    padding-left: 90px;
}
.intro {
    margin-top: 30px;
}
.intro:first-letter {
    font-size: 19px;
    font-weight: bold;
    color: #333333;
    background-color: transparent;
}
.label {
    background-color: transparent;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}
.procedure {
    margin-bottom: 30px;
}
.quick-box>:first-child {
    background-color: #eeeeee;
    font-weight: bold;
    margin: 0px 0px;
    margin-top: 25px;
    padding: 0px 5px;
    text-transform: uppercase;
    width: 98px;
}
.quick-box .icon-index {
    margin: 0px 15px;
}
.revision-book {
    font-weight: bold;
}
.revision-date {
    font-weight: bold;
}
.revision-entry li, .revision-history li {
    list-style: none;
    margin: 0px 10px;
}
.revision-entry ul, .revision-history ul {
    list-style: none;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.revision-history {
    margin-left: 10px;
}
.revision-topic {
    font-weight: normal;
}
.reference ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-top: 0px;
}
.reference li {
    margin: 2px 0px;
}
.ref-dynamic {
    background: transparent url(graphic/cue_expand.png) no-repeat center right;
    display: inline;
    padding-right: 15px;
}
.ref-modal {
    background: transparent url(graphic/cue_modeless.png) no-repeat center right;
    display: inline;
    padding-right: 15px;
}
.ref-modeless {
    background: transparent url(graphic/cue_modeless.png) no-repeat center right;
    display: inline;
    padding-right: 15px;
}
.ref-overlay {
    background: transparent url(graphic/cue_modeless.png) no-repeat center right;
    display: inline;
    padding-right: 15px;
}
.ref-filter-selected {
    background: transparent url(graphic/cue_select.gif) no-repeat center left;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 17px;
    white-space: nowrap
}
.ref-filter {
    background-color: transparent;
    color: #333333;
    cursor: pointer;
    margin-left: 22px;
    text-decoration: underline;
    white-space: nowrap;
}
.ref-filter:hover {
    background-color: transparent;
    color: #c8a040;
    cursor: pointer;
    text-decoration: underline;
    white-space: nowrap;
}
.ref-shortcut {
    margin-bottom: 20px;
}
.ref-dynamic {
    background-color: transparent;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px dotted;
    white-space: nowrap;
    cursor: pointer;
}
.ref-dynamic:hover {
/* Hyperlinks */
    color: #c8a040;
    background-color: transparent;
}
.ref-modal, .ref-modeless, .ref-overlay {
    background-color: transparent;
    color: #333333;
    text-decoration: none;
    border-bottom: 1px dotted;
    white-space: nowrap;
    cursor: pointer;
}
img.ref-modal, img.ref-modeless, img.ref-overlay {
    border-bottom: none;
    display: inline;
    padding-right: 0px;
}
.ref-modal:hover, .ref-modeless:hover, .ref-overlay:hover {
/* Hyperlinks */
    color: #c8a040;
    background-color: transparent;
}
.ref-pn {
    font-size: 12px;
    width: 40px;
}
.ref-target {
    display: none;
}
#tko_menu {
    left: 0px;
    margin: 0px 0px;
    position: fixed;
    top: 0px;
    padding: 4px 0px;
}
#tko_menu li {
    background-color: #666666;
    white-space: nowrap;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    list-style-type: none;
    display: inline;
    padding: 3px 10px;
    border-right: 2px outset #ffffff;
    color: #ffffff;
    cursor: pointer;
}
#tko_menu li.menu-clicked {
    background-color: #bdbdbd;
}
#tko_menu li.disabled {
    background-color: inherit;
    color: #071F15;
    cursor: default;
}
#tko_menu_bar {
    background-color: #666666;
    height: 23px;
    width: 100%;
    margin: 0px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}
#tko_menu_hert.menu-default {
    background-color: red;
}
#tko_menu_plate_hert {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #333333;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    position: fixed;
    top: 25px;
    left: 202px;
    white-space: nowrap;
    min-width: 160px;
    width: auto !important;
    width: 160px;
    margin: 0px;
}
#tko_menu_plate_hert li {
    list-style-type: none;
    margin: 4px 5px;
}
#tko_menu_plate_favorite {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #333333;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    position: fixed;
    top: 25px;
    left: 287px;
    white-space: nowrap;
    min-width: 160px;
    width: auto !important;
    width: 160px;
    margin: 0px;
}
#tko_menu_plate_favorite li {
    list-style-type: none;
    margin: 3px 5px;
}
#tko_menu_plate_history {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: solid;
    border-color: #333333;
    margin: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-top: 5px;
    position: fixed;
    top: 25px;
    left: 106px;
    min-height: 100px;
    height: 100px;
    min-width: 600px;
    width: 600px;
    overflow: scroll;
    overflow-x: hidden;    
}
#tko_menu_plate_history dd {
    margin-left: 80px;
}
#tko_menu_plate_history dt { 
    float: left;
    font-weight: bold;
    margin-left: 10px;
}
#tko_menu_plate_map {
    background-color: #eeeeee;
    border-width: 2px;
    border-style: outset;
    border-color: #333333;
    padding-bottom: 0px;
    padding-right: 20px;
    padding-top: 5px;
    position: fixed;
    top: 25px;
    left: 0px;
    white-space: nowrap;
    min-width: 100px;
    width: auto !important;
    width: 100px;
    margin: 0px;
    max-height: 90%;
    overflow: auto;
    overflow-x: hidden; 
}
#tko_menu_plate_map .active {
    color: #333333;
    font-weight: bold;
}
#tko_menu_plate_map .inactive {
    color: #333333;
    font-weight: normal;
}
#tko_menu_plate_map ul.path {
    margin-bottom: 10px
}
#ref-shortcut {
    background-color: #eeeeee;
    font-weight: bold;
    padding: 0px 5px;
}

#tab-definition, #tab-dynamic {
    margin-bottom: 30px;
    margin-top: 30px;
}
.tc-loc {
    color: #333333;
    font-style: italic;
}
.tc-part {
    font-weight: bold;
}
.tc-term {
    font-style: italic;
}
.tc-topic {
    color: #333333;
    font-variant:small-caps
}
.tc-ui {
    font-weight: bold;
}
.tc-ui-sec {
    text-transform: uppercase;
}
.tc-value {
    font-style: italic;
}